# config/services.yaml

parameters:
    pieces_jointes_directory: '%kernel.project_dir%/public/uploads/pieces_jointes'


services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Stripe
    App\Service\StripePaymentService:
        arguments:
            $stripeSecretKey: '%env(STRIPE_SECRET_KEY)%'
            $appUrl: '%env(APP_URL)%'

    # Twilio
    App\Service\TwilioSmsService:
        arguments:
            $sid: '%env(TWILIO_SID)%'
            $token: '%env(TWILIO_TOKEN)%'
            $from: '%env(TWILIO_FROM)%'

    # Auto-register services in src/
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
